---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import ElementWrapper from "../components/ElementWrapper.astro";
---

<Layout>
  <div class="flex flex-col gap-6">
    <ElementWrapper
      ><div class="p-2">
        <ElementWrapper><p class="p-2">Enhanced</p></ElementWrapper>
      </div></ElementWrapper
    >
    <h2 class="text-2xl italic font-[200] p-1 400 w-fit relative">
      <ElementWrapper>
        <div class="p-4 grid grid-cols-3 gap-2">
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                1
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                2
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                3
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                4
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                5
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                6
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                7
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                8
              </p></ElementWrapper>
          </div>
          <div>
            <ElementWrapper>
              <p
                class="p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-400 transition-all duration-200 ease-in-out cursor-pointer"
              >
                9
              </p></ElementWrapper>
          </div>
          <!-- <span
          class="absolute -bottom-2 left-0 w-full h-0 border-b-[1px] border-gray-400"
        ></span>
        <span
          class="absolute -top-2 left-0 w-full h-0 border-t-[1px] border-gray-400"
        ></span>
        <span
          class="absolute top-0 -left-2 w-0 h-full border-l-[1px] border-gray-400"
        ></span>
        <span
          class="absolute bottom-0 -right-2 w-0 h-full border-l-[1px] border-gray-400"
        ></span> -->
        </div>
      </ElementWrapper>
    </h2>
  </div>

  <Welcome />
</Layout>
