<section class="w-[600px] h-[300px] flex flex-col">
  <article
    id="response"
    class="w-full h-full border border-black overflow-scroll"
  >
  </article>
  <form class="flex flex-col gap-2">
    <input
      class="border border-black cur"
      type="text"
      value="Hola, como estas?"
    /><button>Enviar</button>
  </form>
</section>

<script>
  import { v4 as uuid } from "uuid";
  const form: any = document.querySelector("form");
  const response: any = document.getElementById("response");
  const receiveMessage = () => {
    try {
      let text = "";
      const eventSource = new EventSource(`http://localhost:3000/api/chat/4b2dd990-284a-4efe-afd5-ffa9ac65430c`);
      eventSource.onmessage = (event) => {
        if (event.data === "[DONE]") {
          eventSource.close();
          return;
        }

        const chunk = JSON.parse(event.data);
        // appendToChat(chunk.text); // Actualizar UI en tiempo real
        text += chunk.data;
        response.textContent = text;
      };
      eventSource.onopen = () => {
        console.log("Conexión establecida");
      };
      eventSource.onerror = (error) => {
        console.log("Error en la transmisión", error);
        eventSource.close();
      };
    } catch (error) {
      console.log(error);
    }
  };

  const handleSubmit = async (e: any) => {
    e.preventDefault();
    const input = e.target[0];
    const message = {
      content: input.value,
      id: uuid(),
      timestamp: new Date(),
      sender: "user:" + uuid(),
    };
    input.value = "";

    const response = await fetch(
      `http://localhost:3000/api/chat/4b2dd990-284a-4efe-afd5-ffa9ac65430c`,
      {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ message }),
      }
    );
    if (response.ok) {
      receiveMessage();
    }
  };
  form.addEventListener("submit", handleSubmit);
</script>
