---
import SVGChar from "./SVGChar.astro";
import { matrixToSVG } from "../lib/dot-grid-svg";
import Corners from "./Corners.astro";

const dottedFont = await fetch("http://localhost:3000/api/dotted-font").then(
  (res) => res.json()
);

const catalog = Object.entries(dottedFont).map(([char, matrix]: any) => ({
  character: char,
  svg: matrixToSVG(matrix, {
    character: char,
    pointRadius: 8,
    pointColor: "#000",
    backgroundColor: "transparent",
    padding: 10,
    spacing: 20,
    makeSelectable: false,
    size: 16,
  }),
}));
---

<div class="p-8 flex flex-wrap gap-4" id="svg-container">
  {
    catalog.map((item: any) => (
      <div>
        <Corners size={6} bordersFull={false} color={"black"}>
          <SVGChar svgString={item.svg} char={item.character} />
        </Corners>
      </div>
    ))
  }
</div>
