---
import SVGChar from "./SVGChar.astro";
import { matrixToSVG } from "../lib/dot-grid-svg";

const dottedFont = await fetch("http://localhost:3000/api/dotted-font").then(
  (res) => res.json()
);

const catalog: any[] = [];

Object.entries(dottedFont).forEach(([char, {glyphMatrix}]: any) => {
  if (!glyphMatrix || !glyphMatrix[0]) {
    return;
  }
  catalog.push({
    character: char,
    svg: matrixToSVG(glyphMatrix, {
      character: char,
      pointRadius: 8,
      pointColor: "#000",
      backgroundColor: "transparent",
      padding: 10,
      spacing: 20,
      makeSelectable: false,
      size: 40,
    }),
  });
});
---

<div class="p-4 flex flex-wrap gap-1" id="svg-container">
  {
    catalog.map((item: any) => (
      <SVGChar svgString={item.svg} char={item.character} />
    ))
  }
</div>
