---
import Layout from "../../layouts/Layout.astro";
import FontCatalog from "../../components/FontCatalog.astro";
import PatternControl from "../../components/PatternControl.astro";
import { MatrixEditorComposer } from "../../components/MatrixEditorComposer";
---

<Layout>
  <div class="flex flex-col items-center justify-center w-full">
    <header class="header">
      <h1>Dotted Font</h1>
      <p>Fuente Original Inspirada en Matriz de Puntos</p>
      <p>
        Diseñada especialmente para pantallas digitales y señalización moderna
      </p>
    </header>
    <div
      class="max-w-[1000px] overflow-hidden justify-evenly flex flex-row gap-4 flex-wrap p-1"
    >
      <div id="array-generator">
        <MatrixEditorComposer client:load />
      </div>
      <div id="char-generator">
        <PatternControl />
      </div>
    </div>
    <div class="w-full bg-red-500">
      <FontCatalog />
    </div>
  </div>
</Layout>
