@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "JetBrains Mono", monospace;
  color: #000;
  font-weight: 300;
}
@layer utilities {
  /* Para Chrome, Safari y Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  /* Para Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  /* Para IE y Edge */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
}