---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const path = Astro.url.pathname;
console.log(path);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body class="w-full h-fit">
    <ul class="list-disc list-inside p-8">
      <li><a class="underline" href="/">main</a></li>
      <li><a class="underline" href="/UI-design/dot-grid">Grid Editor</a></li>
      <li>
        <a class="underline" href="/UI-design/konva">Konva</a>
      </li>
      <li>
        <a class="underline" href="/UI-design/components">Componentes</a>
      </li>
    </ul>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
